@model CompaniesYK.Core.Models.Company

@{
    ViewBag.Title = "Home Page";
}


<div class="row">

    <div class="col-md-6">
        <div class="col-md-12 container companiesbg" onclick="location.href='@Url.Action("Index", "CompanyManager")'">
        </div>
        <h2>Companies</h2>
        <p>A company, abbreviated as co., is a legal entity made up of an association of people, 
            be they natural, legal, or a mixture of both, for carrying on a commercial or industrial enterprise. 
            Company members share a common purpose, and unite to focus their various talents and organize their collectively 
            available skills or resources to achieve specific, declared goals.</p>
        <p><a class="btn btn-info" onclick="location.href='@Url.Action("Index", "CompanyManager")'">View list &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <div class="col-md-12 container storesbg" onclick="location.href='@Url.Action("Index", "StoreManager")'">
        </div>
        <h2>Stores</h2>
        <p>
            A store is a building or part of a building where goods of various types are sold. In British English, store is used mainly to refer
            to a large shop selling a variety of goods, but in American English a store can be any size of shop.This is a list of
            department stores of the United Kingdom. In the case of department store groups, the location of the flagship store is given.
        </p>
        <p><a class="btn btn-warning" onclick="location.href='@Url.Action("Index", "StoreManager")'">View list &raquo;</a></p>
    </div>

</div>